.container{
    
    border-color:black;
    border-width: 5px;
    border-style: solid;
    background-color: rgb(89, 222, 231);

    

}


div {
    width: 700px;
    padding: 50px;
    margin: 350px;
  }
    